#New\ Arrivals .w3-col.l3 h2 {
  text-align: left !important;
}

#New\ Arrivals .w3-col.l9 .image-carousel {
  max-width: 600px;
  width: 100%;
  margin: 20px auto !important;
  display: block !important;
  text-align: left !important;
  }

.image-carousel {
  max-width: 600px; 
  width: 100%; 
  position: relative;
  overflow: hidden;
}
 

.carousel-slide-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%; 
}

.carousel-slide {
  flex: 0 0 100%;
}

.carousel-slide img {
  width: 100%;
  display: block;
}

/* Navigation arrows */
.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f2f2f2;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  padding: 8px 12px;
  opacity: 0.7;
  transition: opacity 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
  z-index: 1;
}

.carousel-control:hover {
  opacity: 1;
  background-color: #e2f0fc;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

/* Indicator dots */
.carousel-indicators {
  text-align: center;
  margin-top: 10px;
}

.indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: #333;
}
#carousel-parent {
  text-align: center;
}
w3-quarter {
  float: none !important; 
  display: inline-block !important; 
  width: auto !important; 
  text-align: center !important; 
}