#OurJourney.w3-row-padding {
    display: flex !important; 
    flex-direction: row !important; 
}

#OurJourney.w3-row-padding > .w3-quarter {
    width: 25% !important; 
    flex-shrink: 0 !important; 
}

#OurJourney.w3-row-padding > .w3-rest {
    width: 75% !important; 
    flex-grow: 1 !important; 
}
.videos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.videos-container video {
    max-width: 100%; 
    height: auto;
}
